<h2 class="text-center"><%= @question %></h2>
<h4 class="text-center">-you</h4>

<h2 class="text-center"><%= @answer %></h2>
<h4 class="text-center">-your coach</h4>


<div class="text-center"><%= link_to "Go on", ask_path, :class=>"btn btn-primary"  %></div>


